In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as sp

In [2]:
data=pd.read_csv("sales_data.csv")

In [3]:
data.head()

   product_id product_name  units_sold   sale_date     category
0           1     product1           7  2023-01-01  Electronics
1           2     product2           4  2023-01-02       Sports
2           3     product3           8  2023-01-03     Clothing
3           4     product4           5  2023-01-04        Books
4           5     product5           7  2023-01-05       Sports

In [4]:
print('mean',data['units_sold'].mean())
print('median', data['units_sold'].median())
print('mode',data['units_sold'].mode())
print('std',data['units_sold'].std())
print('var',data['units_sold'].var())
print('skew', data['units_sold'].skew())

mean 5.55
median 5.5
mode 0    8
Name: units_sold, dtype: int64
std 2.0641042405337657
var 4.260526315789474
skew -0.31849248471818875